.colour-block {
    padding: 3rem 0 3rem 0;
    background-color: #CBD7DF;
    margin-bottom: 2.5rem; }

    .colour-block1 {
        padding: 3rem 0 3rem 0;
        background-color: #c79d34;
        margin-bottom: 2.5rem; }

        .colour-block2 {
            padding: 3rem 0 3rem 0;
            background-color: #10af80;
            margin-bottom: 2.5rem; }

            .colour-block3 {
                padding: 3rem 0 3rem 0;
                background-color: #2634ca;
                margin-bottom: 2.5rem; }

                .colour-block4 {
                    padding: 3rem 0 3rem 0;
                    background-color: #8e26ca;
                    margin-bottom: 2.5rem; }